{% extends 'layout_plus.html' %}
{% load static %}
{% block content %}
    <!--Start row-->
    <div class="row">
        <div class="col-md-12">
            <div class="white-box">
                <h2 class="header-title">{{ request.menu_name }}</h2>
                <a href="{% url 'rbac:role_add' %}">
                    <button class="btn btn-info" style="margin-bottom: 10px" data-toggle="tooltip" data-placement="top"
                            title="添加新角色"><i class="fa fa fa-plus"></i> <span>添加角色</span></button>
                </a>
                <div class="table-responsive">
                    <table id="example" class="table table-hover m-0 table-bordered dataTable">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>名称</th>
                            <th>权限数量</th>
                            <th style="width: 76px;text-align: center">编辑</th>
                            <th style="width: 76px;text-align: center">删除</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for row in roles %}
                            <tr>
                                <td>{{ row.id }}</td>
                                <td>{{ row.title }}</td>
                                <td>{{ row.permissions.count }}</td>
                                <td style="text-align: center">
                                    <a style="color: #333333;" href="{% url 'rbac:role_edit' pk=row.id %}">
                                        <button class="btn btn-warning btn-xs" data-toggle="tooltip" data-placement="top"
                                                title="编辑"><i
                                                class="fa fa-wrench"></i></button>
                                    </a>

                                </td>
                                <td style="text-align: center">
                                    <div class="alert-box">
                                        <button class="btn btn-danger  btn-xs sa-warning" id="{{ row.id }}">
                                            <i class="fa fa-remove"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!--End row-->

{% endblock %}

{% block js %}
    <script src="{% static 'assets/plugins/sweetalert/sweet-alert.js' %}"></script>
    <script src="{% static 'assets/pages/jquery.sweet-alert.custom.js' %}"></script>
{% endblock %}